[submodule "BookGraphQLIntegration"]
	path = BookGraphQLIntegration
	url = https://github.com/sonalisingh96/BookGraphQLIntegration
[submodule "BookGraphQL"]
	path = BookGraphQL
	url = https://github.com/sonalisingh96/BookGraphQL
[submodule "GraphQLIntegrated"]
	path = GraphQLIntegrated
	url = https://github.com/sonalisingh96/GraphQLIntegrated
[submodule "GraphQLBook"]
	path = GraphQLBook
	url = https://github.com/sonalisingh96/GraphQLBook
